.movies-more {
  max-width: 1140px;
  padding: 50px 0 80px;
  margin: 0 auto;
  display: flex;
}

.movies-more__button {
  background: #F9F9F9;
  border-radius: 6px;
  max-width: 320px;
  min-height: 36px;
  width: 100%;
  padding: 0;
  border: none;
  color: #000;
  font-family: 'Inter', 'Arial', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 1.2;
  text-align: center;
  margin: 0 auto;
}

@media screen and (max-width: 760px) {
  .movies-more  {
    max-width: 300px;
    padding: 50px 0 80px;
  }
}

.movies-more__button:hover {
  opacity: 0.6;
  cursor: pointer;
}